@import "theme.scss";

.todo {
  margin: 12px 0 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & .mat-checkbox {
    margin-right: 12px;
  }

  &.isCompleted {
    & .todo-text {
      text-decoration: line-through;
      color: #a7a5a5;
    }
  }
}

.mat-divider-vertical {
  border-right-color: $accent !important;
  height: 100%;
  margin-left: 12px;
}
