.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.logo {
  width: 200px;
}

.mat-caption {
  margin-top: 12px;
  margin-bottom: 0;
}
