<form class="todo-form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <input
      #todoInput
      autofocus
      matInput
      [placeholder]="'TODO.what' | translate"
      type="text"
      name="todo"
      [(ngModel)]="value"
      color="accent"
      autocomplete="off"
    />
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      color="accent"
      [disabled]="value === ''"
      type="submit"
      [matTooltip]="'TODO.add' | translate"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
</form>
