<mat-card>
  <form class="login-form" [formGroup]="signinForm" (ngSubmit)="onSignin()">
    <img class="logo" src="/assets/logo.png" />
    <h4>{{ "AUTH.signin" | translate }}</h4>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        required
        placeholder="Username"
        formControlName="usernameCtrl"
        data-test="username-input"
      />
      <mat-error *ngIf="signinForm.get('usernameCtrl')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input
        matInput
        required
        type="password"
        placeholder="Password"
        formControlName="passwordCtrl"
        data-test="password-input"
      />
      <mat-error *ngIf="signinForm.get('usernameCtrl')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button
      mat-stroked-button
      color="accent"
      type="submit"
      [disabled]="signinForm.invalid"
      data-test="signin-button"
    >
      {{ "AUTH.sign in" | translate }}
    </button>
    <p class="mat-caption">
      No account ?
      <a
        class="accent-link"
        [routerLink]="['/auth/signup']"
        data-test="signup-link"
        >Sign up</a
      >
    </p>
  </form>
</mat-card>
