// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import "theme.scss";

$youdo-theme: mat-dark-theme(
  (
    color: (
      primary: $youdo-primary,
      accent: $youdo-accent,
      warn: $youdo-warn,
      success: $youdo-success,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($youdo-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($youdo-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #000000;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-spacer {
  flex: 1 1 auto;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
.accent-link {
  color: $accent;
}

.snack-info {
  background-color: $accent;
  color: white;
}

.snack-danger {
  background-color: $warn;
  color: white;
  text-align: center;
}

.snack-success {
  background-color: green;
  color: white;
}
